/*!
 * Start Bootstrap - One Page Wonder v5.0.0 (https://startbootstrap.com/template-overviews/one-page-wonder)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-one-page-wonder/blob/master/LICENSE)
 */

body {
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background: -webkit-gradient(linear, left bottom, left top, from(#ff6a00), to(#ee0979));
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%); */
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.content h1.masthead-heading.mb-0 {
  font-size: 48px;
  font-family: "Oswald";
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.content h5.masthead-subheading.mb-0.text-center {
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: 300 !important;
  margin: 15px 0;
}
.content h5.masthead-subheading.mb-0.text-center b {
  font-weight: 700;
}
.masthead-content .info p {
  font-family: "Arial";
  font-style: italic;
  line-height: initial;
  margin: 20px 0;
}
.gray-bg {
  background-color: #d0d0d0;
  color: #221f20;
}

.brown-bg {
  background-color: #450007;
  color: #fff;
}

h2.title-oswald {
  font-family: "Oswald";
  font-size: 45px;
}

.gray-bg h2.title-oswald {
  color: #691322;
}

.sub-title {
  font-size: 34px;
  line-height: 34px;
}

section .data-outer {
  font-family: "Open Sans";
}

.left-content ul {
  padding: 0;
  margin: 10% 0 0 0;
  list-style: none;
}

.left-content ul li span.title-brown {
  font-size: 22px;
  font-weight: 700;
  color: #750c20;
}

.left-content ul li {
  margin-bottom: 2.5%;
  font-size: 20px;
}

.brown-bg img {
}

p.date-place {
    font-size: 30px;
    line-height: 35px;
}

.brown-bg .welcome-title {
    font-size: 50px;
    font-weight: 700;
    padding: 20% 0;
}

.meeting-pare {
    font-size: 35px;
    padding: 30px 0;
}
.img-bg {
  background-color: #fff;
  max-width: 320px;
  margin: 8% auto;
  padding: 20px 0px;
}
.data-outer {
  max-height: 1210px;
  overflow: hidden;
  margin: 30px 0;
}
footer.footer {
  color: #6a1021;
  font-family: "Open Sans";
  border-top: 2px solid #6a1021;
}

.footer_bg-title {
  font-size: 45px;
  font-weight: 800;
}

.footer p {
  font-size: 45px;
}

ul.footer-list {
  margin: 0;
  list-style: none;
  padding: 0 0 0 40px;
  font-size: 25px;
}

ul.footer-list li.f_title {
  font-weight: 700;
}
@media (max-width: 991px) {
  h2.title-oswald {
      font-size: 25px;
  }
  .sub-title {
    font-size: 25px;
    line-height: 25px;
  }
  .left-content ul li {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .left-content ul li span.title-brown {
    font-size: 16px;
  }
  .brown-bg .welcome-title {
    font-size: 32px;
    padding: 8% 0;
  }
  ul.footer-list {
    padding: 0 0 0 0px;
    font-size: 17px;
  }
  .footer p {
    font-size: 26px;
  }
  .footer_bg-title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .brown-bg .welcome-title {
    font-size: 28px;
    padding: 12.5% 0;
}
p.date-place {
  font-size: 18px;
  line-height: initial;
}
.p-5.gray-bg, .p-5.brown-bg.text-center {
  padding: 10px 5px !important;
  text-align: center;
}
.content h1.masthead-heading.mb-0 {
  font-size: 32px;
}
}
@media (max-width: 575px) {
.data-outer {  max-height: initial;}
ul.footer-list{ text-align: center;}
}


.widget ul{
line-height: normal;
}
